@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light;
}
.dark{
  color-scheme: dark;
}
.container-2{
  @apply max-w-[1200px] mx-auto;
}
li{
  margin: 0 !important;
} 